@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script|Josefin+Slab|Open+Sans+Condensed:300|Poiret+One');

$font-1: 'Open Sans Condensed', sans-serif;
$font-2: 'Dancing Script', cursive;
$font-3: 'Amatic SC', cursive;
$font-4: 'Poiret One', cursive;
$font-5: 'Josefin Slab', serif;

$font-size-1: 3em;
$font-size-2: 1.5em;